*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

header{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(9, 9, 58);
}
h1{
    padding: 10px;
    color: rgb(100, 81, 163);
}
ul{
    list-style: none;
} 

.nav-links li,a,button {
    position: relative;
    padding: 10px;
    display: inline-block;
    padding: 5px;
    text-decoration: none;
    outline: none;
    font-size: 20px;
    color: white;
}

a:hover{
    color:rgb(100, 81, 163);;
}

button{
    margin: 5px;
    padding: 10px;
    border-radius: 8px;
    background-color: rgb(100, 81, 163);
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    top: 0;
    left: 0;
}

.heading{
    position: absolute;
    top: 210px;
    left: 200px;
    color: #fff;
    font-size: 40px;
    font-weight: 700;
}

.paragraph{
    position: absolute;
    top: 330px;
    left: 200px;
    color: #fff;
}

.play-btn a{
    position: absolute;
    top: 420px;
    left: 200px;
    font-weight: 400px;
}